.car-options__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.car-options {
    width: 55rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
}

.car-options__card {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: start;
}

@media (max-width: 750px) {
    .car-options__container {
        align-items: start;
        justify-content: center;
    }

    .car-options {
        grid-template-columns: 1fr;
    }
}