@import url('/node_modules/reset-css/reset.css');

* {
    font-family: 'Lexend Deca';
    font-size: 15px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'Lexend Deca';
    font-size: 15px;
}

h2 {
    font-size: 32px
}

p {
    font-size: 15px;
}