:root {
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-blue: hsl(221, 100%, 96%);
    --neutral-lavender: hsl(241, 100%, 89%);
    --neutral-dark-blue: hsl(224, 30%, 27%);

    --primary-red: hsl(0, 100%, 67%);
    --primary-yellow: hsl(39, 100%, 56%);
    --primary-green: hsl(166, 100%, 37%);
    --primary-blue: hsl(234, 85%, 45%);
    
    --bg-red: #ff575711;
    --bg-yellow: #ffb01f11;
    --bg-green: #00bd9111;
    --bg-blue: #1125d411;

    --background-gradient: to bottom, #7857ff, #2e2be9;
    --circle-gradient: #2421ca00, #4e21ca;
}