* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}

p {
	font-size: 15px;
	color: var(--neutrarl-grayish-blue);
}

li {
	list-style: none;
}

button {
	outline: none;
	border: none;
}